{% extends "layout.html" %}

{% block content %}
<!-- FIXME -->
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    <!-- PLACEHOLDER FOR AUTHOR NAME FIELD -->
    Author
    <input type="text" name="author"/>
    <!-- PLACEHOLDER FOR AUTHOR EMAIL FIELD -->
    Email
    <input type="email" name="author-email"/>

    <div class="form-group">
      <label for="title">page title</label>
      <input name="title" type="text" class="form-control"/>
    </div>

    <!-- PLACEHOLDER FOR CONTENT TEXTAREA FIELD -->
    Content
    <textarea class="form-control" rows="5" name="content"></textArea>

    <!-- PLACEHOLDER FOR TAGS INPUT FIELD -->
    Tags
    <input type='text' name='tags'>
    <button type="submit" class="btn btn-primary">submit</button>
  </form>
{% endblock %}
